<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
   <% console.log("Hier kann Javascript ausgeführt werden -> Server Seite daher im Terminal") %>
   <h1>views main index <%= name %></h1>
</body>
</html>
